<div class="container">
    <form class="form">
        <div class="title">
            <h2>Hackerrank Plagiarism Check</h2>
        </div>
        <div class="input_container">
            <div class="input">
                <input name = "username" type="text" [(ngModel)]="username$" placeholder="Admin Email or Username"/>
                <input name = "password" type="password" [(ngModel)]="password$" placeholder="Admin Password"/>
                <input name = "contestName" type="text" [(ngModel)]="contestName$" placeholder="Contest Name"/>
            </div>
            <div class="btn">
                <button (click)="fetchUsersData()">Fetch User Attempts</button>
            </div>
        </div>
	</form>
</div>

