<div class="leaderboard" id="leaderboard">
    <div class="filters">
        <!-- <mat-form-field>
            <input matInput (input)="applyFilter($event)" placeholder="Filter">
        </mat-form-field> -->
        <button mat-button (click)="fetchLatestUsersData()"> Refresh</button>

    </div>

    <h2>User Data</h2>

    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Score</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of userData$">
          <td>{{ data.username }}</td>
          <td>{{ data.score }}</td>
          <td><button (click)="handleButtonClick(data.username)">Select</button></td>
        </tr>
      </tbody>
    </table>
</div>
